/* html 파일에선 main.css만 호출한다. 다른 css는 main.css가 호출한다. */
@import url(font.css);

/* START :: 태그의 기본 스타일을 삭제한다.(초기화) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Pretendard', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #555555;
    line-height: 1.5;
    word-break: keep-all;
}
h1, h2, h3, h4, h5, h6{
    font-size: inherit; /* 브라우저가 주는 값을 무시한다. */
    font-weight: inherit;
}
li {
    list-style: none; /* li 태그 앞에 동그라미를 삭제한다. */
}
a{
    color: inherit;
    text-decoration: none;
}
/* END :: 태그의 기본 스타일을 삭제한다.(초기화) */
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
.page1 {
    background-color: #fff;
    margin: 120px 0 100px 0;
}
.page1 .tit {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
}
.page1 .sub_tit {
    color: #00b900;
    margin: 30px 0 0 0;
}
.page1 p {
    margin: 17px 0 0 0;
}
.page1 .btn1 {
    color: #00b900;
    border: 1px solid #00b900;
    margin: 35px 0 0 0;
    padding: 10px 30px 10px 30px;
    display: inline-block;
}
.page1 .img1 {
    margin: 40px 0 0 0;
}
.page2 {
    height: 700px;
    color: #fff;
    background-image: url(../images/bg_img.png);
    background-size: cover; /* 배경 꽉 채우기 */
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
}
.page2 .tit {
    font-size: 40px;
    font-weight: 700;
    padding: 125px 0 0 0;
}
.page2 .tit {
    margin: 30px 0 0 0;
}
.page2 p {
    margin: 30px 0 0 0;
}
.page2 .btn2 {
    border: 1px solid #fff;
    margin: 35px 0 0 0;
    padding: 10px 30px 10px 30px;
    display: inline-block;
}
.page2 .img2 {
    margin: 40px 0 0 0;
}